* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100vh;
    
    .caixa-loading {
        width: 300px;
        height: 500px;
        position: relative;
        border-radius: 20px;
        filter: blur(2px);
        /* border: 2px solid green; */
        z-index: 1;
        
        .caixa-burger {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .vburguer {
                width: 300px;
                position: absolute;

                &:nth-child(1) {
                    top: 20px;
                    animation: desce-burguer 6s infinite ease-in-out;
                    animation-delay: 1.2s;
                }
                
                &:nth-child(2) {
                    top: 180px;
                    animation: desce-burguer 6s infinite ease-in-out;
                    animation-delay: 0.6s;
                }
                
                &:nth-child(3) {
                    top: 250px;
                    animation: desce-burguer 6s infinite ease-in-out;
                }
            }

        }
    }
    
    .nome_logo {
        position: absolute;
        bottom: 90px;
        z-index: 990;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


@keyframes desce-burguer {
    0% {
        transform: translate(0px, 0px);
    }

    25% {
        transform: translate(0, 20px);
    }

    50% {
        transform: translate(20px, 20px);
    }

    75% {
        transform: translate(20px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}
